



.main_link{
    color: rgb(255, 6, 6);
    text-decoration: none; 
}


.main_link:hover{
    color: blue;
    text-decoration: underline;
    text-decoration-color: red;
    cursor: pointer;
}


.main_link:active {
    text-decoration: line-through;
    color: rebeccapurple;
}



input:disabled {}
input {color: rgb(139, 44, 0);}
input:focus {color: red;}


#some_id::after{
    content: attr(title);    
}




 body {


    color: rgb(0, 255, 21);
    background: rgb(255, 255, 255) url('https://sun9-62.userapi.com/s/v1/if2/jxQFwKy0S7JsVTraCJ6afHP4_otRDy8iVY0FqJOyYkqSqtI9ErnsOtPbNf_DSkysTIbJv8G-M-Fikx5MnFoMDuh2.jpg?quality=96&as=32x24,48x36,72x54,108x81,160x120,240x180,360x270,480x360,540x405,640x480,720x540,1080x810,1280x960,1440x1080,2560x1920&from=bu&cs=2560x0')no-repeat top;
    height: 660px;
    background-size: cover;
    background-attachment: fixed;

 }
#second {
    height: 2000px;
}   


.maim_tete {
    color: rgb(243, 243, 1);
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;

    text-transform: lowercase;
    le
    w   
}

body {
  padding-bottom: 1030px
}

#block {
    background-color: rebeccapurple;
    height: 55vh;
    width: 300px;
    border: 9px solid rgb(0, 211, 211);
    border-radius: 120px;
    margin: 220px 812px;
    paint 20px;

}

